.item-content
{
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    text-align: center;
    border-radius: 4px;
    width: 18rem;
    height: 2.5rem;
}
.center{
    padding-top: 10px;
    text-align: center;
}
