<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShreeJi Estates</title>
    <link rel="shortcut icon" href="assets/images/test-186x186.png" type="image/x-icon">
    
	<!-- Load Leaflet from CDN -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	crossorigin=""/>

	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""></script>

	<!-- Load Esri Leaflet from CDN -->
	<script src="https://unpkg.com/esri-leaflet@2.5.3/dist/esri-leaflet.js"
	integrity="sha512-K0Vddb4QdnVOAuPJBHkgrua+/A9Moyv8AQEWi0xndQ+fqbRfAFd47z4A9u1AW/spLO0gEaiE1z98PK1gl5mC5Q=="
	crossorigin=""></script>

	<!-- Load Esri Leaflet Geocoder from CDN -->
	<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
	crossorigin="">
	
	<script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
    integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
    crossorigin=""></script>

  	<link rel="stylesheet" href="css/maps.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/animatecss/animate.min.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>
<body>
    <section class="menu cid-s61s97ett1" once="menu" id="menu2-3">
        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color">
           <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <div class="hamburger">
                 <span></span>
                 <span></span>
                 <span></span>
                 <span></span>
              </div>
           </button>
           <div class="menu-logo">
              <div class="navbar-brand">
                 <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="/">SHREEJI REAL ESTATE</a></span>
              </div>
           </div>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                 <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="/contactus">CONTACT US</a>
                 </li>
                 <li class="nav-item"><a class="nav-link link text-black display-4" href="/partners">OUR PARTNERS</a></li>
                 <li class="nav-item"><a class="nav-link link text-black display-4" href="/signup">SIGN UP/LOGIN</a></li>
              </ul>
           </div>
        </nav>
    </section>
    <div class="holder-div">
        <div id="map"></div>
        <div id="rss-feed">
            <h3 class="text-primary mb-3 text-center"><i class="fa fa-rss" style="color: #F09536;" aria-hidden="true"></i>&nbsp;Top Feeds</h3>
        </div>
    </div>
    <script>
        let latlng, map;

        navigator.geolocation.watchPosition(function (location) {
            latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
            if (map != undefined) { map.remove(); }
            map = L.map('map').setView(latlng, 15);

            L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            }).addTo(map);

            // Add the marker and bind a popup with it (for display purpose)
            var marker = L.marker(latlng).addTo(map);
            marker.bindPopup('<b style="color:blue;">You are here!<b>');
            var circle = L.circle(latlng, {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 1000
            }).addTo(map);

            // Add Search Control to the map
            let searchControl = L.esri.Geocoding.geosearch().addTo(map);
            let results = L.layerGroup().addTo(map);
            
            // searchControl.on('results', function (data) {
            //     results.clearLayers();
            //     for (var i = data.results.length - 1; i >= 0; i--) {
            //         results.addLayer(L.marker(data.results[i].latlng));
            //     }
            // });
        });
    </script>
    <script>
        const RSS_URL = `https://realty.economictimes.indiatimes.com/rss/topstories`;
        $.ajax(RSS_URL, {
            accepts: {
            xml: "application/rss+xml"
            },
            dataType: "xml",
            success: function(data) {
            $(data)
                .find("item")
                .each(function() {
                const el = $(this);
                const template = `                
                    <div class="card" style="width: 100%; margin: 2% 0%;">                          
                        <img src="${el[0].childNodes[9].attributes[2].nodeValue}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><a href="${el[0].childNodes[3].textContent}" target="_blank" rel="noopener">${el.find("title").text()}</a></h5>                            
                            <p class="card-text">${el.find("description").text()}</p>                            
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">${el.find("pubDate").text()}</small>
                        </div>
                    </div>
                `;
                document.getElementById('rss-feed').innerHTML += template;                
                });
            }
        });
    </script>
    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="assets/parallax/jarallax.min.js"></script>
    <script src="assets/dropdown/js/nav-dropdown.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/theme/js/script.js"></script>
    <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
</body>
</html>