<app-navbar></app-navbar>
<section class="engine"></section>
<section
  class="header6 cid-s61sbNgOZB mbr-fullscreen mbr-parallax-background"
  id="header6-4"
>
  <div
    class="mbr-overlay"
    style="opacity: 0.5; background-color: rgb(35, 35, 35)"
  ></div>

  <div class="container">
    <div class="row justify-content-md-center">
      <img
        class=""
        src="assets/images/test.png"
        alt=""
        style="margin: auto; height: 300px"
      />
      <div class="mbr-white col-md-10" style="padding-top: 20px">
        <h1
          class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1"
        >
          <em>SHREEJI REAL ESTATE</em>
        </h1>
        <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
          YOUR HOME OUR SERVICE
        </p>
        <div class="mbr-section-btn align-center">
          <a class="btn btn-md btn-primary display-4" href="">BUY</a>
          <a class="btn btn-md btn-white-outline display-4" href="">SELL</a>
        </div>
      </div>
    </div>
  </div>

  <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
    <a href="#features1-5">
      <i class="mbri-down mbr-iconfont"></i>
    </a>
  </div>
</section>

<section class="features1 cid-s61OqH7fMr" id="features1-5">
  <div class="container">
    <div class="media-container-row">
      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-img pb-3">
          <span class="mbr-iconfont mbri-smile-face"></span>
        </div>
        <div class="card-box">
          <h4 class="card-title py-3 mbr-fonts-style display-5">
            Customer Satisfaction
          </h4>
          <p class="mbr-text mbr-fonts-style display-7">
            Customer Benefits is our number 1 priority.<br /><br />
          </p>
        </div>
      </div>

      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-img pb-3">
          <span class="mbr-iconfont mbri-clock"></span>
        </div>
        <div class="card-box">
          <h4 class="card-title py-3 mbr-fonts-style display-5">
            Flexible Timings
          </h4>
          <p class="mbr-text mbr-fonts-style display-7">
            We work 7 days a week and can adjust to your timings.
          </p>
        </div>
      </div>

      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-img pb-3">
          <span class="mbr-iconfont mbri-like"></span>
        </div>
        <div class="card-box">
          <h4 class="card-title py-3 mbr-fonts-style display-5">
            Reliable Service
          </h4>
          <p class="mbr-text mbr-fonts-style display-7">
            100% &nbsp;Legal process.<br />Only trusted properties only sold.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
