<section class="cid-s61OtcIKP6 mbr-reveal" id="footer1-6">
  <div class="container">
    <div class="media-container-row content text-white">
      <div class="col-12 col-md-3">
        <div class="media-wrap">
          <a href="">
            <img src="assets/images/test-186x186.png" alt="SHREEJI" title="" />
          </a>
        </div>
      </div>
      <div class="col-12 col-md-3 mbr-fonts-style display-7">
        <h5 class="pb-3">Email:</h5>
        <p class="mbr-text">jeet12347@yahoo.com</p>
      </div>
      <div class="col-12 col-md-3 mbr-fonts-style display-7">
        <h5 class="pb-3">Phone Number:</h5>
        <p class="mbr-text">+91 9892566337</p>
      </div>
    </div>
  </div>
</section>
