<br /><br /><br /><br />

<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <div class="text-justify col-lg-3 col-sm-3 col-md-3">
      <h4 class="hidden-xs">SHREEJI ESTATES</h4>
      <div class="visible-xs-block"><br /><br /></div>
      <ul id="progress-menu" class="nav nav-pills nav-stacked hidden-xs">
        <li role="presentation" class="active">
          <a href="vcp-application.html" class="disabled"
            ><span class="glyphicon glyphicon-check pull-right"></span>Section
            1</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-2.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 2</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-3.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 3</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-4.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 4</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-5.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 5</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-6.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 6</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-7.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 7</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-8.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 8</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-9.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 9</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-10.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 10</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-11.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 11</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-12.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 12</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-13.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Section 13</a
          >
        </li>
        <li role="presentation">
          <a href="vcp-application-Summary.html"
            ><span class="glyphicon glyphicon-unchecked pull-right"></span
            >Summary</a
          >
        </li>
      </ul>
      &nbsp;
    </div>
    <!-- /Sidebar -->

    <!-- Main Content -->
    <div class="col-xs-12 col-lg-9 col-sm-9 col-md-9">
      <h4>SIGNUP FORM</h4>
      <br />
      <form #signupForm="ngForm" action="/" method="POST">
        {{ userModel | json }}
        <br />
        {{ signupForm.form.valid }}
        <br />
        <div class="row">
          <div class="col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="firstname"
                >First Name<span style="color: red">*</span></label
              >
              <input
                type="text"
                class="form-control px-3"
                id="firstname"
                name="firstname"
                #firstname="ngModel"
                [class.is-invalid]="firstname.invalid && firstname.touched"
                placeholder="First Name"
                required
                [(ngModel)]="userModel.firstname"
              />
              <small
                style="color: red"
                [class.d-none]="firstname.valid || firstname.untouched"
                >First Name is required</small
              >
            </div>
          </div>

          <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="lastname"
                >Last Name<span style="color: red">*</span></label
              >
              <input
                type="text"
                class="form-control px-3 px-3"
                id="lastname"
                name="lastname"
                #lastname="ngModel"
                [class.is-invalid]="lastname.invalid && lastname.touched"
                placeholder="Last Name"
                required
                [(ngModel)]="userModel.lastname"
              />
              <small
                style="color: red"
                [class.d-none]="lastname.valid || lastname.untouched"
                >Last Name is required</small
              >
            </div>
          </div>

          <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="email">Email<span style="color: red">*</span></label>
              <input
                type="email"
                class="form-control px-3"
                id="email"
                name="email"
                #email="ngModel"
                [class.is-invalid]="email.invalid && email.touched"
                placeholder="email@domain.com"
                required
                [(ngModel)]="userModel.email"
              />
              <small
                style="color: red"
                [class.d-none]="email.valid || email.untouched"
                >Email is required</small
              >
            </div>
          </div>

          <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="gender" class="select"
                >Gender<span style="color: red">*</span></label
              >
              <select
                class="form-control custom-select px-3"
                name="gender"
                required
                #gender="ngModel"
                [class.is-invalid]="gender.invalid && gender.touched"
                [(ngModel)]="userModel.gender"
              >
                <option value="">Choose your Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
              <small
                style="color: red"
                [class.d-none]="gender.valid || gender.untouched"
                >Gender is required</small
              >
            </div>
          </div>

          <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="dateofbirth"
                >Date of Birth<span style="color: red">*</span></label
              >
              <input
                type="date"
                class="form-control px-3"
                id="dateofbirth"
                name="dateofbirth"
                #dateofbirth="ngModel"
                [class.is-invalid]="dateofbirth.invalid && dateofbirth.touched"
                placeholder="Date of Birth"
                required
                [(ngModel)]="userModel.dateofbirth"
              />
              <small
                style="color: red"
                [class.d-none]="dateofbirth.valid || dateofbirth.untouched"
                >Date of Birth is required</small
              >
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-6 col-xs-12">
            <div class="form-group">
              <label for="addrline1"
                >Address Line 1<span style="color: red">*</span></label
              >
              <input
                type="text"
                class="form-control px-3"
                id="addrline1"
                name="addrline1"
                #addrline1="ngModel"
                [class.is-invalid]="addrline1.invalid && addrline1.touched"
                placeholder="Street Number and Name or P.O. Box"
                required
                [(ngModel)]="userModel.addrline1"
              />
              <small
                style="color: red"
                [class.d-none]="addrline1.valid || addrline1.untouched"
                >Address is required</small
              >
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-12">
            <div class="form-group">
              <label for="addrline2"
                >Address Line 2<span style="color: red">*</span></label
              >
              <input
                type="email"
                class="form-control px-3"
                id="addrline2"
                name="addrline2"
                #addrline2="ngModel"
                [class.is-invalid]="addrline2.invalid && addrline2.touched"
                placeholder="Apartment or Unit #"
                required
                [(ngModel)]="userModel.addrline2"
              />
              <small
                style="color: red"
                [class.d-none]="addrline2.valid || addrline2.untouched"
                >Address is required</small
              >
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="state" class="select"
                >State<span style="color: red">*</span></label
              >
              <select
                class="form-control custom-select px-3"
                name="state"
                #state="ngModel"
                [class.is-invalid]="state.invalid && state.touched"
                required
                [(ngModel)]="userModel.state"
              >
                <option value="">Select State</option>
                <option *ngFor="let state of states" value="{{ state }}">
                  {{ state }}
                </option>
              </select>
              <small
                style="color: red"
                [class.d-none]="state.valid || state.untouched"
                >State is required</small
              >
            </div>
          </div>

          <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="district" class="select">District</label>
              <select
                class="form-control custom-select px-3"
                name="district"
                #district="ngModel"
                required
                [(ngModel)]="userModel.district"
              >
                <option value="">Select District</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Thane">Thane</option>
              </select>
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="city">City<span style="color: red">*</span></label>
              <input
                type="text"
                class="form-control px-3"
                id="city"
                name="city"
                #city="ngModel"
                [class.is-invalid]="city.invalid && city.touched"
                placeholder=""
                required
                [(ngModel)]="userModel.city"
              />
              <small
                style="color: red"
                [class.d-none]="city.valid || city.untouched"
                >City is required</small
              >
            </div>
          </div>

          <div class="col-lg-offset-0 col-lg-2 col-xs-3 col-sm-2">
            <div class="form-group">
              <label for="areacode">Area Code</label>
              <input
                type="phone"
                class="form-control px-3 text-center"
                id="areacode"
                placeholder="(+91)"
                [(ngModel)]="userModel.areacode"
                readonly
              />
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-10 col-xs-8 col-sm-6">
            <div class="form-group">
              <label for="phonenumber"
                >Phone Number<span style="color: red">*</span></label
              >
              <input
                type="tel"
                class="form-control px-3"
                id="phonenumber"
                name="phonenumber"
                pattern="^\d{10}$"
                required
                placeholder="Phone Number"
                #phonenumber="ngModel"
                [class.is-invalid]="phonenumber.invalid && phonenumber.touched"
                [(ngModel)]="userModel.phonenumber"
              />

              <div
                *ngIf="
                  phonenumber.errors &&
                  (phonenumber.invalid || phonenumber.touched)
                "
              >
                <small
                  style="color: red"
                  *ngIf="phonenumber.errors.required && phonenumber.touched"
                  >Phone Number is required</small
                >
                <small style="color: red" *ngIf="phonenumber.errors.pattern"
                  >Phone Number must be 10 digits</small
                >
              </div>
            </div>
          </div>
        </div>

        <hr />
        <div class="pull-right">
          <button type="submit" class="btn btn-primary btn-large">
            Signup
          </button>
        </div>
      </form>
    </div>
    <br />
    <br />
  </div>
  <br />
</div>
