<br />
<br />
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-9 col-sm-9 col-md-9">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">
          <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control px-3"
                id="name"
                name="name"
                placeholder="Name Of Property"
                #name="ngModel"
                [(ngModel)]="siteModel.name"
              />
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <label for="bhk">BHK</label>
              <input
                type="text"
                class="form-control px-3"
                id="bhk"
                name="bhk"
                placeholder="No of Bedrooms"
                #bhk="ngModel"
                [(ngModel)]="siteModel.bhk"
              />
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <label for="area">Area SQ.FT.</label>
              <input
                type="text"
                class="form-control px-3"
                id="area"
                name="area"
                placeholder="Area in SQ.FT."
                #area="ngModel"
                [(ngModel)]="siteModel.area"
              />
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <label for="lease">Lease Type</label>
              <input
                type="text"
                class="form-control px-3"
                id="lease"
                name="lease"
                placeholder="Lease Type (Sale/Rent)"
                #lease="ngModel"
                [(ngModel)]="siteModel.lease"
              />
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <label for="price">Price</label>
              <input
                type="text"
                class="form-control px-3"
                id="price"
                name="price"
                placeholder="Price"
                #price="ngModel"
                [(ngModel)]="siteModel.price"
              />
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <label for="img">Image URL</label>
              <input
                type="text"
                class="form-control px-3"
                id="img"
                name="img"
                placeholder="Image"
                #img="ngModel"
                [(ngModel)]="siteModel.img"
              />
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <label for="longi">Longitude</label>
              <input
                type="longi"
                class="form-control px-3"
                id="longi"
                name="longi"
                placeholder="longi"
                #longi="ngModel"
                [(ngModel)]="siteModel.longi"
              />
            </div>
          </div>
          <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <label for="lati">Latitude</label>
              <input
                type="text"
                class="form-control px-3"
                id="lati"
                name="lati"
                placeholder="lati"
                #lati="ngModel"
                [(ngModel)]="siteModel.lati"
              />
            </div>
          </div>
        </div>

        <div class="pull-right">
          <button
            type="submit"
            class="btn btn-primary btn-block btn-large"
            style="margin: 0.4rem 0rem"
            [disabled]="!loginForm.valid"
          >
            {{ "ADD SITE" | uppercase }}
          </button>
        </div>
      </form>
    </div>
    <br />
  </div>
</div>
